html {
    color: white;
    background-color: #111111;
    font-size: 15px;
    font-family: Consolas, serif;
}

a {
    color: white;
}

#console {
    width: 40vw;
    height: 60vh;

    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#messages {
    margin: 0;
    padding: 0;
    max-height: 60vh;
    overflow: hidden;
}

#messages li {
    list-style: none;
    text-align: justify;
    font-family: Consolas, serif;
    font-size: 15px;
}

#messages li.marginTop {
    margin-top: 15px;
}

#messages li.marginBottom {
    margin-bottom: 15px;
}

label[for=textbox] {

}

#textbox {
    width: calc(100% - 17px);
    margin: 0;
    padding: 0;

    background: none;
    border: none;
    outline: none;

    color: white;
    font-family: Consolas, serif;
    font-size: 15px;
}

#options {
    margin: 15px 0 0 0;
    padding: 0;
}

#options li {
    margin: 0 0 0 15px;
    padding: 5px;
    list-style: none;
    color: #111111;
    background-color: white;
    float: left;
}

#options li:hover {
    cursor: pointer;
}